#### Creating dummy data for code demonstrations

In [8]:
from sklearn.datasets import make_blobs

In [9]:
I, b = make_blobs(n_samples=37, #37 people responded to the survey
                  centers = 3,  #Three clusters
                  n_features=6, #Number of Survey Questions
                  center_box =(-2, 4), 
                  cluster_std = 0.3,
                  random_state= 42)

#### Rounding Values

In [10]:
import numpy as np

In [11]:
I = I.round(0)

In [12]:
I

array([[ 0.,  4.,  3.,  2., -1., -1.],
       [ 3., -1., -1.,  0., -0.,  1.],
       [ 0.,  3.,  3.,  1., -1., -2.],
       [-0.,  4.,  2.,  2., -1., -1.],
       [-2.,  3.,  2.,  2., -2.,  4.],
       [-1.,  4.,  2.,  2., -1., -2.],
       [ 3., -0., -1., -1., -0.,  1.],
       [ 3., -1., -1., -1., -1.,  1.],
       [ 0.,  4.,  2.,  2., -1., -1.],
       [ 3., -1., -0., -1.,  0.,  1.],
       [-2.,  3.,  1.,  2., -2.,  4.],
       [-0.,  4.,  2.,  2., -1., -1.],
       [-2.,  4.,  1.,  2., -2.,  4.],
       [-0.,  3.,  2.,  2., -1., -2.],
       [-2.,  3.,  1.,  2., -2.,  4.],
       [ 3., -1., -1., -1.,  0.,  1.],
       [ 1.,  4.,  2.,  1., -1., -1.],
       [-2.,  3.,  1.,  2., -2.,  4.],
       [-2.,  3.,  1.,  2., -2.,  4.],
       [-0.,  4.,  2.,  2., -1., -1.],
       [ 0.,  4.,  3.,  1., -1., -1.],
       [-0.,  3.,  3.,  2., -1., -1.],
       [ 3., -1., -1., -1., -0.,  1.],
       [-2.,  4.,  1.,  2., -2.,  3.],
       [-0.,  4.,  3.,  2., -1., -1.],
       [ 3., -1., -1., -1., -0.,  1.],
       [-2.,  3.,  2.,  2., -2.,  4.],
       [ 3., -1., -1., -0., -0.,  1.],
       [ 3., -0., -1., -0.,  0.,  1.],
       [ 3., -1., -1., -1., -0.,  1.],
       [ 3., -1., -1., -1., -0.,  1.],
       [-2.,  3.,  2.,  2., -1.,  4.],
       [-2.,  3.,  2.,  3., -2.,  4.],
       [-1.,  3.,  2.,  3., -2.,  4.],
       [ 3., -1., -1., -1., -0.,  1.],
       [ 1.,  4.,  2.,  2., -1., -1.],
       [-2.,  3.,  2.,  2., -2.,  4.]])

#### Filter numpy array
1. If number is less than 0, multiply by -1
2. numbers < 0 but > -1 such as -0.5, are remaining as -0. This statement converts -0 to 0

In [13]:
I = np.where(I<0,-1*I,I)

In [14]:
I

array([[ 0.,  4.,  3.,  2.,  1.,  1.],
       [ 3.,  1.,  1.,  0., -0.,  1.],
       [ 0.,  3.,  3.,  1.,  1.,  2.],
       [-0.,  4.,  2.,  2.,  1.,  1.],
       [ 2.,  3.,  2.,  2.,  2.,  4.],
       [ 1.,  4.,  2.,  2.,  1.,  2.],
       [ 3., -0.,  1.,  1., -0.,  1.],
       [ 3.,  1.,  1.,  1.,  1.,  1.],
       [ 0.,  4.,  2.,  2.,  1.,  1.],
       [ 3.,  1., -0.,  1.,  0.,  1.],
       [ 2.,  3.,  1.,  2.,  2.,  4.],
       [-0.,  4.,  2.,  2.,  1.,  1.],
       [ 2.,  4.,  1.,  2.,  2.,  4.],
       [-0.,  3.,  2.,  2.,  1.,  2.],
       [ 2.,  3.,  1.,  2.,  2.,  4.],
       [ 3.,  1.,  1.,  1.,  0.,  1.],
       [ 1.,  4.,  2.,  1.,  1.,  1.],
       [ 2.,  3.,  1.,  2.,  2.,  4.],
       [ 2.,  3.,  1.,  2.,  2.,  4.],
       [-0.,  4.,  2.,  2.,  1.,  1.],
       [ 0.,  4.,  3.,  1.,  1.,  1.],
       [-0.,  3.,  3.,  2.,  1.,  1.],
       [ 3.,  1.,  1.,  1., -0.,  1.],
       [ 2.,  4.,  1.,  2.,  2.,  3.],
       [-0.,  4.,  3.,  2.,  1.,  1.],
       [ 3.,  1.,  1.,  1., -0.,  1.],
       [ 2.,  3.,  2.,  2.,  2.,  4.],
       [ 3.,  1.,  1., -0., -0.,  1.],
       [ 3., -0.,  1., -0.,  0.,  1.],
       [ 3.,  1.,  1.,  1., -0.,  1.],
       [ 3.,  1.,  1.,  1., -0.,  1.],
       [ 2.,  3.,  2.,  2.,  1.,  4.],
       [ 2.,  3.,  2.,  3.,  2.,  4.],
       [ 1.,  3.,  2.,  3.,  2.,  4.],
       [ 3.,  1.,  1.,  1., -0.,  1.],
       [ 1.,  4.,  2.,  2.,  1.,  1.],
       [ 2.,  3.,  2.,  2.,  2.,  4.]])

In [15]:
I = np.where(I==-0, 0, I) #

#### Converting numpy array to a dataframe

In [17]:
import pandas as pd

In [20]:

Set1 = pd.DataFrame({'Did you experience any delays on your flight': I[:, 0],
                    'The plane was clean':I[:,1],
                   'You enjoyed the food during your flight': I[:, 2],
                     'Flight attendants solved your problems quickly':I[:,3],
                   'You enjoyed the customer service during your flight ': I[:, 4],
                   'You would like to travel with us again': I[:, 5],
                  }                 
                 )
Set1.head()

,Did you experience any delays on your flight,The plane was clean,You enjoyed the food during your flight,Flight attendants solved your problems quickly,You enjoyed the customer service during your flight,You would like to travel with us again
0,0.0,4.0,3.0,2.0,1.0,1.0
1,3.0,1.0,1.0,0.0,0.0,1.0
2,0.0,3.0,3.0,1.0,1.0,2.0
3,0.0,4.0,2.0,2.0,1.0,1.0
4,2.0,3.0,2.0,2.0,2.0,4.0