## Pandas

Regular tasks you may encounter when using Pandas. I have created this repositary to save myself time when completing common tasks and storing all relevant code: <br>


<u> Contents </u> <br>
<a href="#map1">1. numpy to pandas dataframe</a> <br>
<a href="#map2">2. Adding list as a column </a> <br>
<a href="#map3">3. Export data as a CSV</a> <br>
<a href="#map4">4. Importing data as a CSV </a> <br>
<a href="#map5a">5. Dataframe containing relevant columns only (Filtering based on columns) </a><br>

In [19]:
import pandas as pd
from sklearn.datasets import make_blobs

In [20]:
I, b = make_blobs(n_samples=37, #37 people responded to the survey
                  centers = 3,  #Three clusters
                  n_features=6, #Number of Survey Questions
                  center_box =(-2, 4), 
                  cluster_std = 0.3,
                  random_state= 42)

#### <a name="map1">1. numpy array to pandas dataframe </a>

In [21]:

Set1 = pd.DataFrame({'Did you experience any delays on your flight': I[:, 0],
                    'The plane was clean':I[:,1],
                   'You enjoyed the food during your flight': I[:, 2],
                     'Flight attendants solved your problems quickly':I[:,3],
                   'You enjoyed the customer service during your flight ': I[:, 4],
                   'You would like to travel with us again': I[:, 5],
                  }                 
                 )
Set1.head()

,Did you experience any delays on your flight,The plane was clean,You enjoyed the food during your flight,Flight attendants solved your problems quickly,You enjoyed the customer service during your flight,You would like to travel with us again
0,0.355732,3.510750,2.500382,2.053362,-1.074636,-0.594640
1,3.149166,-0.571830,-0.754536,0.256247,-0.003279,1.489208
2,0.243192,3.386973,2.638727,1.225698,-1.001229,-1.651934
3,-0.098057,3.816995,2.211772,1.504443,-1.244400,-0.508349
4,-1.661912,2.846453,1.949537,2.474015,-1.639183,3.546643

#### <a name="map2">2. Adding a list of items as a column </a>

In [22]:
Names1 = ["Sarah", "Mo", "David", "Neil", "Viraj", "Jaxson Spencer","Camryn Bond","Adonis Davies",
          "Salvatore Mann"," Marie Whitney","Damarion Rowe","Tatum Booker","Alyson Hull","Saige Wells",
          "Tyrell Lane","Jazlyn Everett","Nia Dawson","Evelyn Torres","Kate Rivera","Killian Douglas",
          "Isaias Bond","Lorena Nielsen","Reese Hunter","amari Walters","Korbin Mcconnell","Autumn Martin","Averie Raymond",
          "Hector Weaver","Zayden Moyer","Bridget Navarro","Dominique Fletcher","Jillian Woodard","Sofia Rivers",
          "Efrain Whitney","Gwendolyn Baxter","Ayana Greer","Jazlynn Richmond"] #List of random names

Set1["Name"]   = Names1

Set1.head()

,Did you experience any delays on your flight,The plane was clean,You enjoyed the food during your flight,Flight attendants solved your problems quickly,You enjoyed the customer service during your flight,You would like to travel with us again,Name
0,0.355732,3.510750,2.500382,2.053362,-1.074636,-0.594640,Sarah
1,3.149166,-0.571830,-0.754536,0.256247,-0.003279,1.489208,Mo
2,0.243192,3.386973,2.638727,1.225698,-1.001229,-1.651934,David
3,-0.098057,3.816995,2.211772,1.504443,-1.244400,-0.508349,Neil
4,-1.661912,2.846453,1.949537,2.474015,-1.639183,3.546643,Viraj

#### <a name="map3"> 3. Exporting dataframe as a csv </a>

In [35]:
Set1.to_csv("C:/Users/Viraj/Work/Code-Repo/Data/testdata.csv", index = False)

#### <a name="map4"> 4. Importing CSV into a dataframe </a>

In [36]:
cdf = pd.read_csv("C:/Users/Viraj/Work/Code-Repo/Data/testdata.csv")

#### <a name="map5">5. Dataframe containing relevant columns only (Filtering based on columns)</a>
In this case we are only dropping one column, so dropping the column would be more appriopriate.

Regardless, we should be able to test which way was faster. Following this code I will illustrate how to check the memory consumption and speed required to execute the following code.

In [25]:
cdf = Set1[['Did you experience any delays on your flight',
                    'The plane was clean',
                   'You enjoyed the food during your flight',
                     'Flight attendants solved your problems quickly',
                   'You enjoyed the customer service during your flight ',
                   'You would like to travel with us again']]

In [17]:
cdf2 = Set1.drop(['Name'], axis=1)

,Did you experience any delays on your flight,The plane was clean,You enjoyed the food during your flight,Flight attendants solved your problems quickly,You enjoyed the customer service during your flight,You would like to travel with us again
0,0.355732,3.510750,2.500382,2.053362,-1.074636,-0.594640
1,3.149166,-0.571830,-0.754536,0.256247,-0.003279,1.489208
2,0.243192,3.386973,2.638727,1.225698,-1.001229,-1.651934
3,-0.098057,3.816995,2.211772,1.504443,-1.244400,-0.508349
4,-1.661912,2.846453,1.949537,2.474015,-1.639183,3.546643

In [37]:
import timeit

In [42]:
timeit.timeit(Set1.drop(['Name'],axis=1))

AttributeError: 'str' object has no attribute 'drop'